<h1>JSON-LD Signature Demo</h1>

<div class="row">
  <div class="form-group col-md-6">
    <label>JSON-LD</label>
    <p>Enter the JSON-LD that you would like to sign</p>
    <textarea class="form-control" ng-model="$ctrl.jsonldString" style="height: 270px;" autocorrect="off" autocapitalize="off" spellcheck="false" tabindex="0"></textarea>
    <div class="alert alert-danger" ng-hide="$ctrl.validJson">
      <strong>Syntax Error</strong> {{$ctrl.jsonErrorMessage}}
    </div>
  </div>
  <div class="form-group col-md-6">
    <label>Signing Key</label>
    <p>The JSON-LD will be signed with this key document</p>
    <pre><span ng-bind-html="$ctrl.signingKeyHtml"></span></pre>
  </div>
</div>
<p><mark style="background-color: rgba(255, 0, 0, 0.13);">owner:</mark> The entity that owns the signing key. The document at this URL must contain a list of held public keys, so that a third party can verify that the JSON-LD signature was actually signed by this entity. 
</p>
<p><mark style="background-color: rgba(255, 214, 0, 0.2);">id:</mark> The ID of the signing key. A third party can go to this URL and view the public document of the key (which contains all of the information above, minus the privateKey field).</p>

<button ng-click="$ctrl.signJson()" ng-disabled="$ctrl.signedJsonldString" class="btn btn-warning">Sign JSON-LD</button>

<span ng-show="$ctrl.signatureLoading">
  <i class="fa fa-refresh fa-spin text-muted"></i>
</span>
<br id="signed"></br>
<div ng-show="$ctrl.signedJsonldString">
  <hr></hr>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-default">
        <div class="panel-heading">
          <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
          Signed JSON-LD</div>
        <div class="panel-body">
          <pre><span ng-bind-html="$ctrl.signedJsonldHtml"></span></pre>
        </div>
      </div>
    </div>
  </div>
  <p>A signature was added to the document along with the <mark style="background-color: rgba(255, 214, 0, 0.2);">creator</mark> field, which holds the same ID as the signature's signing key. A third party can easily do verification on
  the signature by dereferencing the <mark style="background-color: rgba(255, 214, 0, 0.2);">creator</mark> and then finding the key's <mark style="background-color: rgba(255, 0, 0, 0.13);">owner</mark>
  within the resulting document, as seen below:</p>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <label>Public Key</label>
      <pre><span ng-bind-html="$ctrl.publicKeyHtml"></span></pre>
    </div>
  </div>

  The third party can then dereference the
  <mark style="background-color: rgba(255, 0, 0, 0.13);">owner</mark> document and verify that it contains the public key
  used to perform the signature. <b>The signature is only considered authentic if the signature's creator ID is present in the owner's document.</b> //todo: explain why</p>
  <p>//TODO Text about verification -- how detailed do we need to get on actually verifying the signatures with the public key material, etc</p>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <label>Key Owner Document</label>
      <pre><span ng-bind-html="$ctrl.identityHtml"></span></pre>
    </div>
  </div>
  <p>Click the button below to verify the signature</p>
  <button ng-click="$ctrl.verifyJson()" ng-disabled="$ctrl.jsonVerified" class="btn btn-warning">Verify JSON-LD</button>
  <span ng-show="$ctrl.verifyLoading">
    <i class="fa fa-refresh fa-spin text-muted"></i>
  </span>
</div>

<div ng-show="$ctrl.jsonVerified">
  <br></br>
  <p>JSON-LD Verified, signed by <mark style="background-color: rgba(255, 0, 0, 0.13);">{{$ctrl.identity.id}}</mark>
</div>